@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flash {
    0% {
        border-bottom: 2px solid green;
        border-width: 100%;
    }

    50% {
        border-bottom: 2px solid red;
        border-width: 50%;
    }

    100% {
        border-bottom: 2px solid red;
        border-width: 0%;
    }
}

.sssss {
    animation: flash 5s ease;
}